@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: var(--ui-background);
  color: var(--ui-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ui-text: #121417;
  --ui-text-foreground: #637887;
  --ui-background: #ffffff;
  --ui-foreground: #ffffff;
  --ui-border: #f0f2f5;
  --ui-footer: #ffffff;
  --ui-highlight: #0ad95c;
  --ui-lowlight: #d9220a;
  --ui-gradient: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-text: #ffffff;
    --ui-text-foreground: #9eabb8;
    --ui-background: #121417;
    --ui-foreground: #ffffff;
    --ui-border: #293038;
    --ui-footer: #1c2126;
    --ui-highlight: #0ad95c;
    --ui-lowlight: #d9220a;
    --ui-gradient: #ffffff;
  }
}

* {
  font-size: 1rem;
}

a {
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  transition: all 0.15s ease;
  border: 2px solid transparent;
}
button:active {
  transform: scale(0.9);
  background-color: var(--ui-background);
  border: 2px solid var(--ui-border);
}

body {
  margin: 0;
  min-width: 320px;
  max-width: 700px;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}
